@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<RoomFInder.Models.Room>

@{
ViewData["Title"] = "Rooms";
Layout = "_Login";
}

<h1>Rooms</h1>

@* <p> *@
@*     <a asp-action="Create" class="btn btn-primary">Create New Room</a> *@
@* </p> *@

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Property Type</th>
        <th>Location</th>
        <th>Price</th>
        <th>IsAvailable</th>
        <th>Email</th>
        <th>ImageUrl</th>
        <th>Action</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.Name</td>
        <td>@item.PropertyType</td>
        <td>@item.Location</td>
        <td>@item.Price</td>
        <td>@item.IsAvailable</td>
        <td>@(item.Owner?.Email ?? "No Owner")</td>
        <td><img src="~/images/@item.ImageUrl" alt="" width="70" height="80" /></td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.RoomId" class="btn btn-primary">Edit</a>
            <a asp-action="Details" asp-route-id="@item.RoomId" class="btn btn-info">Details</a>
            <a asp-action="Delete" asp-route-id="@item.RoomId" class="btn btn-danger">Delete</a>
        </td>
    </tr>
    }
    </tbody>
</table>
