
@{
ViewData["Title"] = "Home Page";
}

<h1>Welcome to Kotha Bhada!</h1>

<div class="row mb-4">
    <div class="col-md-6">
        <form method="get" action="@Url.Action("Index", "Home")" class="form-inline">
            <div class="input-group">
                <label for="searchInput" class="mr-8"></label>
                <input type="text" id="searchInput" name="searchString" class="form-control" placeholder="Enter location">
                <a href="@Url.Action("Index", new { searchString = ViewData["CurrentFilter"], sortOrder = ViewData["MinPriceSortParm"] })" class="btn btn-secondary">
                    <i class="bi bi-sort-down"></i>
                </a>
                <a href="@Url.Action("Index", new { searchString = ViewData["CurrentFilter"], sortOrder = ViewData["MaxPriceSortParm"] })" class="btn btn-secondary">
                    <i class="bi bi-sort-up"></i>
                </a>
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="row">
    @foreach (var room in Model)
    {
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="~/images/@(room.ImageUrl ?? "default.jpg")" class="card-img-top" height="300" width="100" alt="Room Image">
            <div class="card-body">
                <p class="card-text">
                    <strong>Title:</strong> @room.Name <br>
                    <strong>Location:</strong> @(room.Location ?? "Unknown") <br>
                    <strong>Price:</strong> @(room.Price) <br>
                    <strong>Availability:</strong> @(room.IsAvailable ? "Available" : "Not Available") <br>
                    <strong>Owner:</strong> @(room.Owner != null ? room.Owner : "Unknown")
                </p>
                <a href="@Url.Action("Details", "Rooms", new { id = room.RoomId })" class="btn btn-primary">View Details</a>
            </div>
        </div>
    </div>
    }
</div>
